@model MovieStoreMVC.Models.Domain.Genre
@{
}

<form class="w-40" asp-action="Add" method="post">
    <h2 class="pb-10">New Genre</h2>
    <div class="input-container">
        <label asp-for="GenreName" class="w-40">GenreName</label>
        <input type="text" class="input" asp-for="GenreName">
    </div>
    <div class="message-box pd-x-28 error">
        <span asp-validation-for="GenreName"></span>
    </div>

    @if (TempData["msg"] != null)
    {
        <div class="alert mb-1" id="myAlert">
            @TempData["msg"]
        </div>
    }

    <div class="input-container">
        <button class="btn btn-default" type="submit">Save</button>
        <a class="btn btn-sec" href="/Genre/GetAll">All Genres</a>
    </div>
</form>
@section Scripts {
    <script>
        // Wait for 5 seconds and then hide the div using jQuery
        $(document).ready(function () {
            setTimeout(function () {
                $('#myAlert').hide();
            }, 5000); // 5000 milliseconds = 5 seconds
        });
    </script>
}